@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Different</h1>
    @*<p class="lead">Welcome to our new rental store.</p>*@
    @*<p><a href="https://different.com.mk/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>We create things <b>Differently</b>. We are constantly focusing on innovating. We believe in the simple not in the complex. And frankly, we don’t settle for anything less than excellence.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://different.com.mk/">About us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more knowledge</h2>
        <p>Build something <b>Different</b> with us! We create sustainable digital skills learning communities with a world-class curriculum, intuitive learning platform, and unrivaled instructional support.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://academy.different.com.mk/mk/">Academy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facebook us</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.facebook.com/DifferentAcademy/">Facebook &raquo;</a></p>
    </div>
</div>